<style>
/* .other-conversation-section {
  padding-left:0;
  padding-right:0;
}

.conversation-card {
  border: 1px solid;
  border-color: rgba(213, 213, 213, 1);
}

.conversation-card-title {
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conversation-card-content{
  padding-top: 7px;
}

.conversation-card-actions {
  display: flex;
  justify-content: flex-end;
}

.conversation-card-actions button {
  margin-right:10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  border-radius:5px;
}

.conversation-card p{
  padding-left:10px;
} */

</style>

<div class="container-fluid" >
  <% if request.host == "thinqtv.herokuapp.com" %>

    <!-- Meta Tags for Facebook sharing -->
    <% content_for :head do %>
      <meta property="og:url"           content="<%= "https://thinqtv.herokuapp.com" + user_profile_path(@user.permalink) %>" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="Join <%= @user.permalink %>'s Conversation" />
      <meta property="og:description"   content="<%= @user.permalink %>'s Conversation is happening right now!" />
      <% if @user.profilepic.present? %>
        <meta property="og:image"       content="<%= @user.profilepic.url.to_s %>" />
      <% else %>
        <meta property="og:image"       content="http://www.thinq.tv/logoDigitalHollow300.png" />
      <% end %>
    <% end %>

      <div class="row" style="padding-top:45px; margin-left:-60px; margin-right:-60px;">
        <div class="col-md-4">
          <div style="padding: 0px 0px 5px 0px">
            <%= render 'layouts/merchsidebar' %>
          </div>

      <!-- Invite Area -->
      <div style = "padding: 3px 5px 7px 5px; font-size: 18px; background-color: #F2EBE4">
        <b>Invite friends to join this conversation</b>
        <div style = "font-size: 15px; margin-left: 7px">
          Invite via E-Mail:
        </div>
        <a href="mailto:? &subject=Come%20join%20this%20conversation%20on%20thinQ.tv! &body=Come%20join%20me%20in%20this%20conversation%20at%20https://thinqtv.herokuapp.com/youronlinemom" style="font-size: 15px; color: white; margin-left: 17px; background-color: #8C1D40; padding: 3px 5px 3px 5px; border-radius: 3px">E-Mail &#9993</a>
          
        <div style = "font-size: 15px; margin-left: 7px; padding-top: 5px">
          Invite via SMS:
        </div>
        <a href="sms: &body=Come%20join%20me%20in%20this%20conversation%20at%20https://thinqtv.herokuapp.com/youronlinemom" style="font-size: 15px; color: white; margin-left: 17px; background-color: #8C1D40; padding: 3px 5px 3px 5px; border-radius: 3px">SMS &#9743</a>

          <div style = "font-size: 15px; margin-left: 7px; padding-top: 5px">
            Invite via social media: 
          </div>

        <% domainurl = "https://thinqtv.herokuapp.com/youronlinemom" %>
        <!--THIS IS A RUBY APPLICATION!!! Please figure out how to code popup boxes in Ruby, not html. Images should be ASSETS, not urls to remote images we do not control-->
        <div style="margin-left: 17px">
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>"
            onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=<%= @surl %>',
            'newwindow', 'width=600,height=400,top=100,left=300'); return false;">
            <img src="https://static.licdn.com/sc/h/eahiplrwoq61f4uan012ia17i" alt="LinkedIn" style="width:25px; height:25px; border-radius: 4px" />
          </a>&nbsp
          <a href="http://www.facebook.com/sharer.php?u=<%= domainurl %>" 
            onclick="window.open('http://www.facebook.com/sharer.php?u=<%= domainurl %>',
            'newwindow', 'width=600,height=400,top=100,left=300'); return false;">
            <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook" style="margin-left: -4px; width:25px; height:25px; border-radius: 4px" />
          </a>&nbsp
          <a href="https://twitter.com/intent/tweet?text=Come%20join%20the%20conversation%20on%20thinQ.tv%20at%20https://thinqtv.herokuapp.com/youronlinemom"
            onclick="window.open('https://twitter.com/intent/tweet?text=Come%20join%20the%20conversation%20on%20thinQ.tv%20at%20https://thinqtv.herokuapp.com/youronlinemom,'
            'newwindow', 'width=600,height=400,top=80,left=300'); return false;">
            <img src="https://about.twitter.com/etc/designs/about-twitter/public/img/apple-touch-icon-72x72.png" alt="Twitter" style="margin-left:-4px; width:25px; height:25px;border-radius:4px;">
          </a><br>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <%= render 'layouts/jitsi' %>
        <div class="container">
          <a href="#demo" class="btn btn-info" data-toggle="collapse" style="background-color: #8C1D40; font-size: 18px; ">If you're not seeing or hearing the Live Conversation in the viewer above &#9660 </a>
            <div id="demo" class="collapse" style="font-size: 13px; padding-left: 5px">
              <p>- Are you using Safari or Edge? Close that and use Chrome or Firefox. - or -<br>
              - Reload the page. (Press F5) - or -<br>
              - If you have slow wifi, turn off your camera. (Click on the camera icon above) - or -<br>
              - Turn up the volume on your speakers. - or - <br>
              - Update Chrome or Firefox to the latest version. - or - <br>
              - Download the JITSI Meet app onto your phone and join the THINQTV chatroom on the app. - or -<br>
              - Call in on your phone: 1.512.402.2718 PIN: 968 707 817# (For audio only)<br>
              - You may also type in the chat - click on the Open/Close Chat icon next to the hand above.<br>
            </div>
        </div>
        <br>
      </div>
    </div>

  <% else %>
      <div class='container-fluid'>
        <div class="row">
            <div class='col-sm-2 bg-light' style='height: 100vh'>
                <p class='mt-3 h6' style='font-size: 14px;'><strong>ONGOING CONVERSATIONS</strong></p>

                <div class='mt-4'>
                    <a class='d-flex flex-direction-row justify-content-between' href='#'>
                        <img src='./logoDigitalHollow300-cc7f592db0da99605a2e7a2a7faefa4d1f659b0c563880a34173ec43ba2fe62d.png'
                            style='height: 30px; width:30px; background-color: white;' class='mt-1 rounded-circle' />

                        <div class='ml-3 pt-0'>
                            <p class='mb-0' style='font-size:0.9rem; color:black'><strong>Lisa Schaefer, PhD</strong>
                            </p>
                            <p style='font-size:10px; color: #53535F'>Let's talk about women's issue</p>
                        </div>

                        <div class='ml-2 mt-1'>
                            <p style='font-size:12px;'><span
                                    class='border border-danger rounded pl-2 pr-2 text-danger'>live</span></p>
                        </div>
                    </a>
                </div>

                <div class='mt-2'>
                    <a class='d-flex flex-direction-row justify-content-between' href='#'>
                        <img src='./logoDigitalHollow300-cc7f592db0da99605a2e7a2a7faefa4d1f659b0c563880a34173ec43ba2fe62d.png'
                            style='height: 30px; width:30px; background-color: white;' class='mt-1 rounded-circle' />

                        <div class='ml-3 pt-0'>
                            <p class='mb-0' style='font-size:0.9rem; color:black'><strong>Lisa Schaefer, PhD</strong>
                            </p>
                            <p style='font-size:10px; color: #53535F'>Let's talk about women's issue</p>
                        </div>

                        <div class='ml-2 mt-1'>
                            <p style='font-size:12px;'><span
                                    class='border border-danger rounded pl-2 pr-2 text-danger'>live</span></p>
                        </div>
                    </a>
                </div>

                <div class='mt-2'>
                    <a class='d-flex flex-direction-row justify-content-between' href='#'>
                        <img src='./logoDigitalHollow300-cc7f592db0da99605a2e7a2a7faefa4d1f659b0c563880a34173ec43ba2fe62d.png'
                            style='height: 30px; width:30px; background-color: white;' class='mt-1 rounded-circle' />

                        <div class='ml-3 pt-0'>
                            <p class='mb-0' style='font-size:0.9rem; color:black'><strong>Lisa Schaefer, PhD</strong>
                            </p>
                            <p style='font-size:10px; color: #53535F'>Let's talk about women's issue</p>
                        </div>

                        <div class='ml-2 mt-1'>
                            <p style='font-size:12px;'><span
                                    class='border border-danger rounded pl-2 pr-2 text-danger'>live</span></p>
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-sm-10">
                <div class='row mt-5 ml-3 d-flex justify-content-between'>
                    <div class='d-flex flex-direction-row'>
                        <div>
                            <img src='./logoDigitalHollow300-cc7f592db0da99605a2e7a2a7faefa4d1f659b0c563880a34173ec43ba2fe62d.png'
                                style='height: 3rem; width: 3rem; background-color: white; border-radius: 50%;'
                                class='mt-2 mr-3' />
                        </div>

                        <div>
                            <h4><strong>Lisa Schaefer, PhD</strong></h4>
                            <h6 class='font-weight-light'>Woman in tech</h6>
                        </div>

                    </div>
                </div>

                <div class='row'>
                    <div class='container ml-4 mt-3'>
                        <h6>Schedule</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>

